<div class="footer">
  <div class="footer-contact-info">
    <ul>
      <li>
        <i class="fa fa-map-marker"></i> Juana de Arco 197 Colonia San Pedro Iztacalco, Ciudad de México
      </li>
      <li>
      <i class="fa fa-envelope"></i> ventas@denser.com.mx
      <i class="fa fa-phone"></i> (55) 56 98 41 74
      <i class="fa fa-phone"></i> (55) 55 79 35 07
     </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <ul>
      <li>
        Denser de México SA. de CV. todos los derechos reservados
      </li>
      <li>
        <%= link_to '<i class="fa fa-user-circle"></i> Admin Login'.html_safe, new_user_session_path %>
      </li>
    </ul>
  </div>
</div>
