<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1493882946517-213a21fe70f8?ixlib=rb-0.3.5&s=01176784492134ce2b27db0242abee3c&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Denser de México</h1>
    <p>Utensilios pŕacticos para mejorar tu hogar</p>
    <a class="btn btn-primary btn-lg" href= "<%= products_path  %>">Mejorar mi hogar</a>
  </div>
</div>
