
<div class = "col-xs-12 col-sm-4">
  <a href="<%= product_path(product) %>" class="" >
    <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path product.main_photo, height:175, crop: :scale %>');">
      <div class="card-category"><%= product.category  %></div>
      <div class="card-description">
        <h2><%= product.name  %></h2>
        <p><% "#{product.description}".truncate(15)  %></p>
      </div>
    </div>
  </a>
</div>
