.footer {
  background: #152489;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 1px 0px 1px 0px;
  padding: 3px;
  height:60px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  opacity: 0.15;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
}
.footer-links a:hover {
  opacity: 1;
}


.footer-copyright{

  font-size: 9px!important;
  ul{
    list-style-type: none;

    li, a{
      text-decoration: none;
      opacity: 0.60;
      color:white;
      text-align: right;
      font-size: 9px;
      a:hover{
        color: aqua;
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}

.footer-contact-info {
  opacity: 0.45;
  text-decoration: none;
  font-size: 12px;
  ul{
    list-style-type: none;
    li, *{
      text-align:left;
    }
  }
}
